<html>
<head>
    <title>Login Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="font-awesome.css">
</head>
<body>
<div class="background-image"></div>
<div class="blur"></div>

<div class="container">
    <a href="https://www.google.se/search?q=random+guy&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiLw7enp8zTAhWEBiwKHSWKA1sQ_AUICigB&biw=1920&bih=974"><img src="images/man.png"></a>
    <form>
        <div class="form-input">
            <input type="text" name="username" placeholder="Username">
        </div>
        <div class="form-input">
            <input type="text" name="password" placeholder="Password">
        </div>
        <input type="submit" name="submit" value="LOGIN" class="btn-login">
    </form>
    </br>
    <a href="#">Forgot your password?</a>
</div>


</body>
</html>